<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.uwuaosp.settingsext.PUIThemeuwuAOSPExpandSettingsIcon">
    <application android:hasCode="false"/>
    <overlay android:isStatic="false" android:priority="1000" android:targetPackage="org.uwuaosp.settingsext"/>
</manifest>
