<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.PUIThemeAndroidLOGOIcon">
    <application android:hasCode="false"/>
    <overlay android:isStatic="false" android:priority="4000" android:targetPackage="android"/>
</manifest>
